@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<img class="candy-model" src="@CandyIcon" />
	<div class="title">@CandyName</div>
	<div class="remaining-time-bar">
		<div class="remaining-time-fill" style="width: @remainingTimePercentage%;"></div>
	</div>
</root>

@code
{
	[Property] public GameObject candy { get; set; }
	public float CurrentCookingTime = 0;
	public string CandyName = "None";
	public string CandyIcon = "None";
	public int remainingTimePercentage = 0;
	public float TotalCookingTime = 0;

	protected override void OnEnabled()
	{
		base.OnEnabled();
		var test = candy.Clone();
		CandyName = test.Components.Get<Candies>().Name;
		CandyIcon = "textures/ui/candies/" + CandyName.ToLower().Replace(" ", "_") + ".png";
		Log.Info(CandyIcon);
		StateHasChanged();
		test.Destroy();
	}

	public async void StartCooking(float cookingTime)
	{
		TotalCookingTime = cookingTime;
		while (CurrentCookingTime < TotalCookingTime)
		{
			await GameTask.DelaySeconds(1);
			CurrentCookingTime++;
			remainingTimePercentage = (int)((CurrentCookingTime / TotalCookingTime) * 100);
			StateHasChanged();
		}
		await GameTask.DelaySeconds(1);
		CurrentCookingTime = 0;
		TotalCookingTime = 0;
		remainingTimePercentage = 0;
		StateHasChanged();
	}
}
