FurnacePanel
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #808080;
	justify-content: center;
	font-weight: bold;
	.title
	{
        top : 5%;
        position: absolute;
		font-size: 50px;
		font-family: Poppins;
		color: #000000;
        margin-bottom: 50px;
	}
    .candy-model
    {
        position: absolute;
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
    }
    .remaining-time-bar {
        position: absolute;
        bottom: 5%;
        width: 80%;
        height: 20px;
        background-color: #e0e0e0; /* Change this to your desired background color */
        border-radius: 10px;
    }
    .remaining-time-fill {
        width: 100%;
        height: 100%;
        background-color: #057c01; /* Change this to your desired fill color */
        border-radius: 10px;
    }
}