@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@if (CurrentSellingTime > 0)
	{
		<div class="remaining-time-bar">
			<div class="remaining-time-fill" style="width: @remainingTimePercentage%;"></div>
		</div>
	}
	
</root>

@code
{
	public float CurrentSellingTime = 0;
	public int remainingTimePercentage = 0;
	public float TotalSellingTime = 0;

	public async void StartSelling(float SellingTime)
	{
		TotalSellingTime = SellingTime;
		while (CurrentSellingTime < TotalSellingTime)
		{
			await GameTask.DelaySeconds(1);
			CurrentSellingTime++;
			remainingTimePercentage = (int)((CurrentSellingTime / TotalSellingTime) * 100);
			StateHasChanged();
		}
		await GameTask.DelaySeconds(1);
		CurrentSellingTime = 0;
		TotalSellingTime = 0;
		remainingTimePercentage = 0;
		StateHasChanged();
	}
}
