UpgradePanel
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;
    text-align: center;

	.upgradePanel {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #44444495;
		font-weight: bold;
		border-radius: 20px;
		pointer-events: all;
	}

	.backContent {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #00000095;
		font-weight: bold;
		pointer-events: all;
	}

	.backButton {
		position: absolute;
		top: 10px;
		left: 10px;
		font-size: 30px;
		color: #ffffff;
		background-color: #EF8CFF;
		border-radius: 15px;
		padding: 5px 20px;

		&:hover {
			color: #EF8CFF;
			background-color: #ffffff;
		}
	}

	.window {
		width: 75%;
		height: 75%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #3b3b3b;
		border-radius: 75px;
		border: 4px solid #EF8CFF;
		pointer-events: all;
	}

	.upgradeWindow {
		position: absolute;
		width: 90%;
		height: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		// justify-content: center;
	}

	.upgradeWindowHeader {
		width: 100%;
		height: 50px;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

	}

	.upgradeWindowHeaderTitle {
		font-size: 50px;
		color: #EF8CFF;
	}

	.upgradeWindowHeaderButton {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		
		font-size: 30px;
		color: #ffff;
		background-color: #EF8CFF;
		border-radius: 15px;

		&:hover {
			color: #EF8CFF;
			background-color: #ffffff;
		}
	}

	.upgradeWindowProductionLineArea {
		width: 100%;
		height: 45%;
		display: flex;
		flex-direction: column;
		// align-items: center;
	}

	.upgradeWindowProductionLineAreaTitle {
		font-size: 40px;
		color: #EF8CFF;
		margin: 2% 0;
	}

	.upgradeWindowProductionLineAreaContent {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		// align-items: center;
		// justify-content: space-between;
		gap: 30px;
		background-color: #ffffff;
		border-radius: 15px;
	}

	.upgradeWindowProductionLineAreaContentLine {
		// width: 100%;
		height: 100%;
		min-height: 80%;
		display: flex;
		flex-direction: row;
		// justify-content: center;
		align-items: center;
		margin-left: 10px;
		border-radius: 15px;
	}

	.upgradeWindowProductionLineAreaContentLineItem {
		width: 28%;
		height: 80%;
		padding: 2% 0;
		margin: 2%;
		display: flex;
		flex-direction: column;
		background-color: #EF8CFF;
		border-radius: 15px;
		align-items: center;
		gap: 30px;
		font-size: 35px;
		
		&:hover {
			cursor: pointer;
			color: #000000;
			background-color: #ffa9fb;
		}
	}

	
	.locked {
		// color locked
		background-color: #616161;

		&:hover {
			cursor: not-allowed;
			background-color: #616161;
		}
	}

	.upgraded {
		// color upgraded
		background-color: #9effa4;

		&:hover {
			cursor: not-allowed;
			background-color: #9effa4;
		}
	}
	

	.upgradeWindowContent {
		width: 80%;
		height: 75%;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: scroll;
		border: 2px solid #EF8CFF;
		border-radius: 15px;
	}

	
	.upgradeWindowContentItem {
		width: 100%;
		height: 50px;
		display: flex;
		flex-direction: row;
        justify-content: center;
        align-items: center;
		margin-bottom: 20px;
        gap: 10%;
	}
	
	.upgradeWindowContentItemIcon {
		width: 50px;
		height: 50px;
	}
	
	.upgradeWindowContentItemIcon img {
		width: 100%;
		height: 100%;
	}
	
	.upgradeWindowContentItemName {
        width: 20%;
		font-size: 24px;
        justify-content: center;
		color: #EF8CFF;
	}
	
	.upgradeWindowContentItemUpgrade {
		font-size: 30px;
		font-weight: bold;
		color: #EF8CFF;
		background-color: #ffffff;
		border-radius: 15px;
		padding: 5px 20px;
        width: 15%;
        align-items: center;
		justify-content: center;

		&:hover {
			color: #ffffff;
			background-color: #EF8CFF;
		}
	}
	.upgradeWindowContentItemAmount {
		font-size: 24px;
		color: #EF8CFF;
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
	}

	.upgradeWindowContentItemPrice {
		font-size: 24px;
		color: #EF8CFF;
		width: 10%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.upgradeWindowFooter {
		width: 100%;
		height: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}

	.upgradeWindowFooterNumber {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	.upgradeWindowFooterTotal {
		width: 100%;
		height: 50px;
		display: flex;
		flex-direction: row;
		// align-items: center;
		font-size: 30px;
		margin-top: 20px;
		color: #EF8CFF;
	}

	.upgradeWindowFooterMoney {
		font-size: 30px;
		color: #EF8CFF;
	}

	.upgradeWindowFooterTips {
		width: 100%;
		height: 50px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.upgradeWindowFooterTipsTitle {
		font-size: 24px;
		color: #EF8CFF;
	}

	.upgradeWindowFooterTipsContent {
		font-size: 24px;
		color: #EF8CFF;
	}

}