@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network;
@inherits PanelComponent

<root>
    @if (InDialogue)
    {
        <div class="dialogue">
            <div class = "talkerName">
                @talkerName
            </div>
            <div class = "dialogueText">
                @dialogueText
            </div>
            <button class="nextButton" @onclick="NextDialogue">Suivant</button>
        </div>
    }
</root>

@code {

    [Property]
    public bool InDialogue = false;
    public string talkerName = "Talker";
    public string dialogueText = "Some text";
    public List<string> dialogueLines = new List<string>();
    public int currentDialogueIndex = 0;
    private Player player;

    protected override void OnStart()
    {
        base.OnAwake();
        player = Scene.GetAllComponents<Player>().FirstOrDefault( x => !x.IsProxy );
    }

    protected override void OnUpdate()
    {
        base.OnUpdate();

        if (Input.EscapePressed && InDialogue)
        {
               ChangeState();
        }
    }

    protected void ChangeState()
    {
        InDialogue = !InDialogue;
        StateHasChanged();
    }

    public void StartDialogue(Factory factory, string name, List<string> dialogue)
    {
        ChangeState();
        talkerName = name;
        dialogueLines = dialogue;
        currentDialogueIndex = 0;
        dialogueText = dialogueLines[currentDialogueIndex];
        Scene.GetAllComponents<IntroductionSystem>().FirstOrDefault().StartGameIntroduction(player, factory);
    }

    public void NextDialogue()
    {
        currentDialogueIndex++;
        if (currentDialogueIndex < dialogueLines.Count)
        {
            dialogueText = dialogueLines[currentDialogueIndex];
            StateHasChanged();
        }
        else
        {
            ChangeState();
        }
    }
}
