@using Sandbox;
@using Sandbox.UI;
@using Eryziac.CandyFactory;
@inherits PanelComponent

<root>
    @if (Quests != null && Quests.CurrentQuest != null)
	{
		var CurrentQuest = Quests.CurrentQuest;
		<div class="header">
			<div class="title">@CurrentQuest.Name :</div>
			<div class="description">@CurrentQuest.Description</div>
		</div>
		<div class="progress">
    		@if (!CurrentQuest.IsCompleted)
			{
            	@foreach (var objective in CurrentQuest.Objectives)
            	{
            	    <span class="category">@GetObjectiveString(objective)</span>
            	}
			}
            else
            {
                <span class="completed">You completed all quests!</span>
            }
        </div>
			
    }
</root>

@code
{
    public QuestSystem Quests { get; set; }

    protected async override void OnStart()
    {
		await Task.Delay(1000);
        Quests = Scene.GetAllComponents<QuestSystem>().FirstOrDefault();
		StateHasChanged();
    }

    protected override void OnUpdate()
    {
        if (Quests == null)
        {
            Quests = Scene.GetAllComponents<QuestSystem>().FirstOrDefault();
            StateHasChanged();
        }
    }

    private string GetObjectiveString(QuestObjective objective)
    {
        return $"- {objective.Description}";
    }
}
