@using Sandbox;
@using Sandbox.UI;
@using Eryziac.CandyFactory;
@inherits PanelComponent

<root>
    @if (LocalPlayer != null && LocalPlayer.CurrentTask != null)
    {
        <div class="header">
            <div class="title">@LocalPlayer.CurrentTask.Name :</div>
            <div class="description">@LocalPlayer.CurrentTask.Description</div>
        </div>
        <div class="progress">
            <!-- @foreach (var objective in LocalPlayer.CurrentTask.Objectives)
            {
                <span class="category">@GetObjectiveString(objective)</span>
            } -->
            <!-- else if (LocalPlayer.CurrentTask.IsComplete)
            {
                <span class="completed">@LocalPlayer.CurrentTask.CompletedMessage</span>
            } -->
            En cours de rework ! Ne pas toucher.
        </div>
    }
</root>

@code
{
    public Player LocalPlayer;

    protected override void OnStart()
    {
        LocalPlayer = Scene.GetAllComponents<Player>().FirstOrDefault(x => !x.IsProxy);
		StateHasChanged();
    }

    protected override void OnUpdate()
    {
        if (LocalPlayer == null)
        {
            LocalPlayer = Scene.GetAllComponents<Player>().FirstOrDefault(x => !x.IsProxy);
            StateHasChanged();
        }
    }

    private string GetObjectiveString(QuestObjective objective)
    {
        return $"{objective.Description}";
    }
}
