@using Sandbox
@using Sandbox.UI
@using Eryziac.CandyFactory;
@inherits PanelComponent

<root>
    @if (Value != null)
    {
        <div class="delivery-prompt">
            <p class="bold-text">Delivery Timer: </p>
            <p>@Value</p>
        </div>
    }
</root>

@code {
    public string Value { get; set; } = null;

    public void SetProgress(string value)
    {
        Value = value;
        StateHasChanged();
    }
}