EscapeMenu {
    .pause {
        pointer-events: all;
        background-color: rgba(156, 88, 154, 0.662);
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;

        .options {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2 {
            color: white;
            font-size: 50px;
            text-align: center;
            font-weight: bolder;
        }

        .btn {
            background-color: #934caf;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            font-size: 40px;
            margin: 2% 10%;
            cursor: pointer;
            border-radius: 12px;
            width: 17%;
            justify-content: center;

            &:hover {
                background-color: #af77bc;
            }
        }


        .volumeOption {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3 {
                color: white;
                font-size: 45px;
                font-weight: bolder;
                font-style: italic;
                margin-top: 2%;
            }
        }

        .volumeContent {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 40px;
            color: white;


            .volumeBtn {
                background-color: #934caf;
                border: none;
                color: white;
                padding: 15px 30px;
                text-align: center;
                margin: 2% 3%;
                cursor: pointer;
                border-radius: 12px;
                justify-content: center;

                &:hover {
                    background-color: #af77bc;
                }
            }
        }


    }
}