@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network;
@inherits PanelComponent


<root>
    @if (IsPaused)
    {
        <div class="pause">
            <h2>Paused</h2>
            <div class="options">
                <div class="btn" @onclick="@ChangeState">
                    <p>Resume</p>
                </div>
                <div class="btn"@onclick="@Quit">
                    <p>Quit</p>
                </div>
            </div>
        </div>
    }
</root>

@code {

    [Property]
    public bool IsPaused = false;
	private Player player;

        protected override void OnStart()
        {
            base.OnAwake();
			player = Scene.GetAllComponents<Player>().FirstOrDefault( x => !x.IsProxy );
        }

        protected override void OnUpdate()
    {
        base.OnUpdate();

        if (Input.EscapePressed)
        {
			if (!player.InCinematic && !player.InMenu)
           		ChangeState();
        }
    }

	protected void ChangeState()
	{
        if (player == null)
        {
            player = Scene.GetAllComponents<Player>().FirstOrDefault(x => !x.IsProxy);
        }
		IsPaused = !IsPaused;
		StateHasChanged();
	}

    private void Quit()
    {
        GameNetworkSystem.Disconnect();
        Game.ActiveScene.LoadFromFile("scenes/menu.scene");
    }
}
