GameMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .content {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: all;
  }

  .logo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 425px;
    z-index: 1;
  }

  .btn {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100px;
    background-color: white;
    border-radius: 32px;
    z-index: 1;

    &:hover {
      cursor: pointer;
      // background-color: rgb(237, 190, 241);
      width: 410px;
      height: 110px;
      h1 {
        color: rgb(108, 4, 84);
        font-size: 55px;
        &.refresh {
          font-size: 40px;
        }
      }
    }
    
    &.create {
      top: 50%;
      left: 50%;
    }
    
    &.join {
      top: 60%;
      left: 50%;
    }
    
    &.settings {
      top: 70%;
      left: 50%;
    }
    
    &.quit {
      top: 80%;
      left: 50%;
    }
    
    &.back {
      top: 6%;
      left: 8%;
      width: 250px;
      height: 75px;
    }
    
    &.refresh-join {
      width: 200px;
      height: 50px;
      bottom: 10.5%;
      left: 50%;
    }
  }

  .btn-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #f13edc;
    z-index: 1;

    &.refresh {
      font-size: 40px;

      &:hover {
        color: rgb(108, 4, 84);
      }
    }
  }

  // .btn-lobby {
  //   position: absolute;
  //   top: 16%;
  //   // flex-direction: column;
  //   // justify-content: center;
  //   // align-items: center;
  //   // width: 100%;
  //   // height: 100%;
  // }

  .sub-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #FFC307;
    z-index: 1;
    
    &.room {
      top: 0;
    }
  }

  .boxInput {
    top: 50%;
    margin: 0 auto;
    width: 400px;
    height: 100px;
    z-index: 1;
  }

  textentry {
    opacity: 1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    flex-shrink: 0;
    background-color: rgba(black, 0.2);
    transition: all 0.1s ease-out;
    pointer-events: all;
    
    &.roomEntry {
      top: 50%;
      left: 5%;
    }
  }

  // .display-list{
  //   position: absolute;
  //   top: 48%;
  //   background-color: #000000dd;
  //   width:  40%;
  //   height: 45%;
  //   flex-direction: column;
  //   justify-content: flex-start;
  //   align-items: center;
  //   overflow: scroll;
  //   gap: 5px;
  //   padding: 10px;
  //   border-radius: 32px;
  // }

  .display-list {
    position: absolute;
    top: 48%;
    background-color: #000000dd;
    width:  40%;
    height: 45%;
    display: flex; // Ensure flex display is set
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // overflow: scroll;
    padding: 10px;
    border-radius: 32px;

    .content-list {
      padding-top: 5%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      overflow: scroll;
      width: 70%;
    }

    .btn-lobby {
      width: 60%;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      border-radius: 8px;
      margin-bottom: 10px;
      gap: 10px;
  
      &:hover {
        background-color: #f591ea;
        color: #fff;
        cursor: pointer;

        p {
          color: #fff;
        }
      }
  
      .meta {
        gap: 10px;
      }
    
      p {
        margin: 0; // Keeps p tag text snug in the container
        font-size: 20%; // Adjust as necessary for readability
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #f13edc;
      }
    }

    .setting-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
    
    .setting-title {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px; // Taille plus grande pour les titres des sections
      font-weight: bold;
      color: #f13edc;
      margin-bottom: 10px;
    }
    
    .setting-option {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .option-title {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 24px; // Taille ajustée pour la lisibilité
      font-weight: bold;
      color: #fff;
    }

    .option-volume {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      background-color: #ffffff;
      border-radius: 8px;

      .option-operator {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px; // Taille ajustée pour la lisibilité
        font-weight: bold;
        color: #f13edc;
        background-color: #ffffff;
        border-radius: 8px;
        padding: 10px;
        cursor: pointer;

        &:hover {
          background-color: #f591ea;
          color: #fff;
        }
      }
    }
    
    .resolution-dropdown {
      margin-top: 10px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px; // Taille ajustée pour la lisibilité
      color: #000;
    }
    
    .option-content{
      background-color: #ffffff;
      border-radius: 25px;
      padding: 10px;
      font-size: 20px;
    }
  }
  
  

  .header {
    // margin-bottom: 10px;
    // width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
  }

  .status-info {
    margin-bottom: 10px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }

  .lobby-list > .button {
    // background-color: transparent;
    color: #aaa;
    padding: 10px;
    border-radius: 8px;
    // gap: 2px;
    cursor: pointer;
    // width: 100%;
    // flex-direction: column;

    .title {
      flex-grow: 1;
      font-weight: bold;
      font-size: 16px;
    }

    .meta {
      gap: 10px;
      font-size: 12px;

      .map {
        flex-grow: 1;
      }

      .count {
        white-space: nowrap;
      }
    }

    &:hover {
      background-color: #f13edc;
      color: #fff;
    }
  }
}
