Interact {
    position: absolute;
    
    .interact-prompt {
        position: absolute;
        left: 50%;
        justify-content: center;
        bottom: 100px; // You can adjust this value
        transform: translateX(-50%);
        background-color: #f08cffd5;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        font-size: 30px;
        text-align: center;
        border-radius: 25px;
    }
}