@using Sandbox;
@using Sandbox.UI;
@using Eryziac.CandyFactory;
@inherits PanelComponent

<root>
	<div class="title">
		@("$ " + CandyFactory.LocalPlayer.GetMoney().ToString("N0").Replace(",", " "))
	</div>
	<img class="image" src="/textures/ui/money_hud/gold.png" alt="money" />
</root>

@code
{

}
