@using Sandbox;
@using Sandbox.UI;
@using Eryziac.CandyFactory;
@inherits PanelComponent

<root>
	<div class="title">
		@("$ " + Money.ToString("N0").Replace(",", " "))
	</div>
	<img class="image" src="/textures/ui/money_hud/gold.png" alt="money" />
</root>

@code
{

	private int Money = 0;

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Money );

	// OnUpdate is called every frame
	protected override void OnUpdate()
	{
		Money = CandyFactory.LocalPlayer.GetMoney();
	}
}
