.TabMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.733);
}

.TabMenu .player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 20%;
    border-radius: 8px;
}

.TabMenu .player-container .player-info {
    background-color: #4444448e;
    border: 2px solid #EF8CFF;
    border-radius: 16px;
    position: absolute;
    color: rgb(0, 0, 0);
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.TabMenu .player-container .player-name {
    padding-top: 5%;
    font-size: 24px;
    font-weight: bold;
}

.TabMenu .player-container .money-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.TabMenu .player-container .player-money {
    font-size: 24px;
}

.TabMenu .player-container .money-icon {
    height: 50%;
    aspect-ratio: 1;
}

.TabMenu .player-container .player-avatar {
    width: 60%;
    aspect-ratio: 1;
}

.TabMenu.hide {
    opacity: 0;
}